{{ partial "header.html" . }}

<div class="header">
    <h1>{{ .Title }}</h1>
    <h2><a href="/blog">Blog</a> >> {{ .Title }}</h2>
</div>
<div class="content">

  {{ partial "post_meta.html" . }}

  {{ .Content }}

  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  {{ partial "prev_next_post.html" . }}

  {{ partial "disqus.html" . }}

</div>

{{ partial "footer.html" . }}
