{{ partial "competitiveprogramming_head.html" . }}

<div class="header">
    <h1>CompetitiveProgramming</h1>
    <h2><a href="/">Home</a> >> CompetitiveProgramming</h2>
</div>

<section id="sitemap">
    <div>
        <ul>
            <li><div class="guide"><a href="./library" style="display:inline; margin-right:10px;">Library</a><span style="display:inline; font-size:0.75em">自作した諸々</li>
            <li><div class="guide"><a href="./tools" style="display:inline; margin-right:10px;">Tools</a><span style="display:inline; font-size:0.75em">便利なページ集</li>
		</ul>
    </div>
</section>

{{ partial "footer.html" . }}
